.button {
    border: none;
    outline: none;
    background-color: #181E3F;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    &.btn-primary {
        background-color: #181E3F;
        color: white;
        
        &:hover {
            background-color: #2f3661;
            color: white;
        }
    }

    &.btn-outline {
        background-color: white;
        color: #181E3F ;
        border: 1px solid #181E3F;
        
        &:hover {
            color: #2f3661;
            border: 1px solid #2f3661;
            background-color: lightgray;
        }
    }
}