/* CSS Document */
*[class*='col-count-'] {
    display: grid !important;
}

.col-count-1 {
    grid-template-columns: 1fr;
}

.col-count-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-count-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-count-3.offset {
    grid-template-columns: 1fr 1200px 1fr;
}

.col-count-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-count-5 {
    grid-template-columns: repeat(5, 1fr);
}

.col-count-6 {
    grid-template-columns: repeat(6, 1fr);
}

.col-count-7 {
    grid-template-columns: repeat(7, 1fr);
}

.col-count-8 {
    grid-template-columns: repeat(8, 1fr);
}

.col-count-9 {
    grid-template-columns: repeat(9, 1fr);
}

.col-count-10 {
    grid-template-columns: repeat(10, 1fr);
}

.col-count-11 {
    grid-template-columns: repeat(11, 1fr);
}

.col-count-12 {
    grid-template-columns: repeat(12, 1fr);
}

.gapped-half {
    grid-gap: 0.5em;
}

.gapped {
    grid-gap: 1em 1em;
}

.gapped-2 {
    grid-gap: 2em 2em;
}

.start1 {
    grid-column-start: 1;
}

.start2 {
    grid-column-start: 2;
}

.start3 {
    grid-column-start: 3;
}

.start4 {
    grid-column-start: 4;
}

.start5 {
    grid-column-start: 5;
}

.start6 {
    grid-column-start: 6;
}

.start7 {
    grid-column-start: 7;
}

.start8 {
    grid-column-start: 8;
}

.start9 {
    grid-column-start: 9;
}

.start10 {
    grid-column-start: 10;
}

.start11 {
    grid-column-start: 11;
}

.start12 {
    grid-column-start: 12;
}

.span1 {
    grid-column-end: span 1;
}

.span2 {
    grid-column-end: span 2;
}

.span3 {
    grid-column-end: span 3;
}

.span4 {
    grid-column-end: span 4;
}

.span5 {
    grid-column-end: span 5;
}

.span6 {
    grid-column-end: span 6;
}

.span7 {
    grid-column-end: span 7;
}

.span8 {
    grid-column-end: span 8;
}

.span9 {
    grid-column-end: span 9;
}

.span10 {
    grid-column-end: span 10;
}

.span11 {
    grid-column-end: span 11;
}

.span12 {
    grid-column-end: span 12;
}

.last-col {
    grid-column-end: -1;
}

.c1em-c1fr-c1em {
    grid-template-columns: 1em 1fr 1em;
}

@media all and (max-width: 1200px) {
    .col-count-3.offset {
        grid-template-columns: 1em 1fr 1em;
    }

    .col-c1-xl {
        grid-template-columns: 1fr !important;
    }

    .col-c2-xl {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .col-c3-xl {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .col-c4-xl {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .col-c5-xl {
        grid-template-columns: repeat(5, 1fr) !important;
    }

    .col-c6-xl {
        grid-template-columns: repeat(6, 1fr) !important;
    }

    .col-c7-xl {
        grid-template-columns: repeat(7, 1fr) !important;
    }

    .col-c8-xl {
        grid-template-columns: repeat(8, 1fr) !important;
    }

    .col-c9-xl {
        grid-template-columns: repeat(9, 1fr) !important;
    }

    .col-c10-xl {
        grid-template-columns: repeat(10, 1fr) !important;
    }

    .col-c11-xl {
        grid-template-columns: repeat(11, 1fr) !important;
    }

    .col-c12-xl {
        grid-template-columns: repeat(12, 1fr) !important;
    }

    .span1-xl {
        grid-column-end: span 1;
    }

    .span2-xl {
        grid-column-end: span 2;
    }

    .span3-xl {
        grid-column-end: span 3;
    }

    .span4-xl {
        grid-column-end: span 4;
    }

    .span5-xl {
        grid-column-end: span 5;
    }

    .span6-xl {
        grid-column-end: span 6;
    }

    .span7-xl {
        grid-column-end: span 7;
    }

    .span8-xl {
        grid-column-end: span 8;
    }

    .span9-xl {
        grid-column-end: span 9;
    }

    .span10-xl {
        grid-column-end: span 10;
    }

    .span11-xl {
        grid-column-end: span 11;
    }

    .span12-xl {
        grid-column-end: span 12;
    }

    .start1-xl {
        grid-column-start: 1;
    }

    .start2-xl {
        grid-column-start: 2;
    }

    .start3-xl {
        grid-column-start: 3;
    }

    .start4-xl {
        grid-column-start: 4;
    }

    .start5-xl {
        grid-column-start: 5;
    }

    .start6-xl {
        grid-column-start: 6;
    }

    .start7-xl {
        grid-column-start: 7;
    }

    .start8-xl {
        grid-column-start: 8;
    }

    .start9-xl {
        grid-column-start: 9;
    }

    .start10-xl {
        grid-column-start: 10;
    }

    .start11-xl {
        grid-column-start: 11;
    }

    .start12-xl {
        grid-column-start: 12;
    }

    .gapped-half-xl {
        grid-gap: 0.5em;
    }

    .gapped-xl {
        grid-gap: 1em 1em;
    }

    .gapped-2-xl {
        grid-gap: 2em 2em;
    }
}

@media all and (max-width: 1038px) {
    .col-c1-lg {
        grid-template-columns: 1fr !important;
    }

    .col-c2-lg {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .col-c3-lg {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .col-c4-lg {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .col-c5-lg {
        grid-template-columns: repeat(5, 1fr) !important;
    }

    .col-c6-lg {
        grid-template-columns: repeat(6, 1fr) !important;
    }

    .col-c7-lg {
        grid-template-columns: repeat(7, 1fr) !important;
    }

    .col-c8-lg {
        grid-template-columns: repeat(8, 1fr) !important;
    }

    .col-c9-lg {
        grid-template-columns: repeat(9, 1fr) !important;
    }

    .col-c10-lg {
        grid-template-columns: repeat(10, 1fr) !important;
    }

    .col-c11-lg {
        grid-template-columns: repeat(11, 1fr) !important;
    }

    .col-c12-lg {
        grid-template-columns: repeat(12, 1fr) !important;
    }

    .span1-lg {
        grid-column-end: span 1;
    }

    .span2-lg {
        grid-column-end: span 2;
    }

    .span3-lg {
        grid-column-end: span 3;
    }

    .span4-lg {
        grid-column-end: span 4;
    }

    .span5-lg {
        grid-column-end: span 5;
    }

    .span6-lg {
        grid-column-end: span 6;
    }

    .span7-lg {
        grid-column-end: span 7;
    }

    .span8-lg {
        grid-column-end: span 8;
    }

    .span9-lg {
        grid-column-end: span 9;
    }

    .span10-lg {
        grid-column-end: span 10;
    }

    .span11-lg {
        grid-column-end: span 11;
    }

    .span12-lg {
        grid-column-end: span 12;
    }

    .start1-lg {
        grid-column-start: 1;
    }

    .start2-lg {
        grid-column-start: 2;
    }

    .start3-lg {
        grid-column-start: 3;
    }

    .start4-lg {
        grid-column-start: 4;
    }

    .start5-lg {
        grid-column-start: 5;
    }

    .start6-lg {
        grid-column-start: 6;
    }

    .start7-lg {
        grid-column-start: 7;
    }

    .start8-lg {
        grid-column-start: 8;
    }

    .start9-lg {
        grid-column-start: 9;
    }

    .start10-lg {
        grid-column-start: 10;
    }

    .start11-lg {
        grid-column-start: 11;
    }

    .start12-lg {
        grid-column-start: 12;
    }

    .gapped-half-lg {
        grid-gap: 0.5em;
    }

    .gapped-lg {
        grid-gap: 1em 1em;
    }

    .gapped-2-lg {
        grid-gap: 2em 2em;
    }
}

@media all and (max-width: 655px) {
    .col-c1-md {
        grid-template-columns: 1fr !important;
    }

    .col-c2-md {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .col-c3-md {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .col-c4-md {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .col-c5-md {
        grid-template-columns: repeat(5, 1fr) !important;
    }

    .col-c6-md {
        grid-template-columns: repeat(6, 1fr) !important;
    }

    .col-c7-md {
        grid-template-columns: repeat(7, 1fr) !important;
    }

    .col-c8-md {
        grid-template-columns: repeat(8, 1fr) !important;
    }

    .col-c9-md {
        grid-template-columns: repeat(9, 1fr) !important;
    }

    .col-c10-md {
        grid-template-columns: repeat(10, 1fr) !important;
    }

    .col-c11-md {
        grid-template-columns: repeat(11, 1fr) !important;
    }

    .col-c12-md {
        grid-template-columns: repeat(12, 1fr) !important;
    }

    .span1-md {
        grid-column-end: span 1;
    }

    .span2-md {
        grid-column-end: span 2;
    }

    .span3-md {
        grid-column-end: span 3;
    }

    .span4-md {
        grid-column-end: span 4;
    }

    .span5-md {
        grid-column-end: span 5;
    }

    .span6-md {
        grid-column-end: span 6;
    }

    .span7-md {
        grid-column-end: span 7;
    }

    .span8-md {
        grid-column-end: span 8;
    }

    .span9-md {
        grid-column-end: span 9;
    }

    .span10-md {
        grid-column-end: span 10;
    }

    .span11-md {
        grid-column-end: span 11;
    }

    .span12-md {
        grid-column-end: span 12;
    }

    .start1-md {
        grid-column-start: 1;
    }

    .start2-md {
        grid-column-start: 2;
    }

    .start3-md {
        grid-column-start: 3;
    }

    .start4-md {
        grid-column-start: 4;
    }

    .start5-md {
        grid-column-start: 5;
    }

    .start6-md {
        grid-column-start: 6;
    }

    .start7-md {
        grid-column-start: 7;
    }

    .start8-md {
        grid-column-start: 8;
    }

    .start9-md {
        grid-column-start: 9;
    }

    .start10-md {
        grid-column-start: 10;
    }

    .start11-md {
        grid-column-start: 11;
    }

    .start12-md {
        grid-column-start: 12;
    }

    .gapped-half-md {
        grid-gap: 0.5em;
    }

    .gapped-md {
        grid-gap: 1em 1em;
    }

    .gapped-2-md {
        grid-gap: 2em 2em;
    }
}

@media all and (max-width: 375px) {
    .col-c1-sm {
        grid-template-columns: 1fr !important;
    }

    .col-c2-sm {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .col-c3-sm {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .col-c4-md {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .col-c5-sm {
        grid-template-columns: repeat(5, 1fr) !important;
    }

    .col-c6-sm {
        grid-template-columns: repeat(6, 1fr) !important;
    }

    .col-c7-sm {
        grid-template-columns: repeat(7, 1fr) !important;
    }

    .col-c8-sm {
        grid-template-columns: repeat(8, 1fr) !important;
    }

    .col-c9-sm {
        grid-template-columns: repeat(9, 1fr) !important;
    }

    .col-c10-sm {
        grid-template-columns: repeat(10, 1fr) !important;
    }

    .col-c11-sm {
        grid-template-columns: repeat(11, 1fr) !important;
    }

    .col-c12-sm {
        grid-template-columns: repeat(12, 1fr) !important;
    }

    .span1-sm {
        grid-column-end: span 1;
    }

    .span2-sm {
        grid-column-end: span 2;
    }

    .span3-sm {
        grid-column-end: span 3;
    }

    .span4-sm {
        grid-column-end: span 4;
    }

    .span5-sm {
        grid-column-end: span 5;
    }

    .span6-sm {
        grid-column-end: span 6;
    }

    .span7-sm {
        grid-column-end: span 7;
    }

    .span8-sm {
        grid-column-end: span 8;
    }

    .span9-sm {
        grid-column-end: span 9;
    }

    .span10-sm {
        grid-column-end: span 10;
    }

    .span11-sm {
        grid-column-end: span 11;
    }

    .span12-sm {
        grid-column-end: span 12;
    }

    .start1-sm {
        grid-column-start: 1;
    }

    .start2-sm {
        grid-column-start: 2;
    }

    .start3-sm {
        grid-column-start: 3;
    }

    .start4-sm {
        grid-column-start: 4;
    }

    .start5-sm {
        grid-column-start: 5;
    }

    .start6-sm {
        grid-column-start: 6;
    }

    .start7-sm {
        grid-column-start: 7;
    }

    .start8-sm {
        grid-column-start: 8;
    }

    .start9-sm {
        grid-column-start: 9;
    }

    .start10-sm {
        grid-column-start: 10;
    }

    .start11-sm {
        grid-column-start: 11;
    }

    .start12-sm {
        grid-column-start: 12;
    }

    .gapped-half-sm {
        grid-gap: 0.5em;
    }

    .gapped-sm {
        grid-gap: 1em 1em;
    }

    .gapped-2-sm {
        grid-gap: 2em 2em;
    }
}