.admin-page {
    width: 100%;
    display: flex;
    position: relative;

    @media (max-width: 680px) {
        
    }

    .content {
        position: absolute;
        top: 80px;
        left: 300px;
        width: calc(100vw - 300px);
        height: calc(100vh - 80px);
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
    }
}