.team-black-block {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    p {
        margin-top: 85px;
        margin-bottom: 82px;
        width: 851px;
        height: 166px;
        left: 84px;
        top: 248px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;

        /* or 155% */
        text-align: center;
        color: #FFFFFF;

        @media (max-width: 1024px) {
            font-size: 24px;
            width: 600px;
        }

        @media (max-width: 680px) {
            font-size: 14px;
            width: 300px;
        }

    }

    .btn-contact-us {
        text-align: center;
        margin-top: 42px;
        margin-bottom: 73px;
        border: 1px solid white;
        width: fit-content;
        text-align: left;
        font: normal normal 300 25px/31px 'Montserrat';
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        padding: 10px 30px;
        cursor: pointer;

        @media (max-width: 1024px) {
            margin-top: 30px;
            font: normal normal 300 16px/20px 'Montserrat';
            padding: 8px 16px;
            box-sizing: border-box;
            text-align: center;
        }
    }
}