.culture-landing {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;

    .container {
        display: flex;
        text-align: left;
        padding-left: 150px;
        padding-right: 150px;

        @media (max-width: 1024px) {
            padding-left: 60px;
            padding-right: 60px;
        }

        @media (max-width: 680px) {
            width: 50%;
            padding-left: 5%;
        }

        justify-content: space-between;
    }

    .one,
    .two {
        display: inline-block;
    }

    .left-wrapper,
    .right-wrapper {
        display: inline-block;
    }

    hr {
        width: 0px;
        margin-right: 50px;
        margin-top: 30px;
        height: 145.42px;
        left: 126.44px;
        top: 527.92px;
        border: 2px solid #000000;
    }

    .offer {
        width: 75%;
        color: #0D1731;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: 680px) {
            padding: 10px;
        }

        h3 {
            font-size: 40px;
            margin: 10px;

            @media (max-width: 680px) {
                font-size: 25px;
                margin: 5px;
            }
        }

        .btn-about-us {
            color: white;
            background-color: #0D1731;
            text-transform: uppercase;
            font-size: 25px;
            margin-bottom: 61px;
            margin-top: 28px;
            padding: 10px 30px;
            cursor: pointer;

            @media (max-width: 680px) {
                font-size: 16px;
            }
        }
    }


    & p {
        color: #181E3F;
        font-size: 22px;
        font-family: Avenir;

        @media (max-width: 680px) {
            font-size: 16px;
        }
    }
}